/* =============================================================================
 *
 * Waybar styles
 *
 * Styles reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
/*    background-color: #323232; */
/*    color: white;  */
    background-color: #532e1c;
    color: #e6e6e6; 
    font-family: OpenDyslexic Nerd Font, sans-serif;  
    font-size: 12px;
}

/* Each module */
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#custom-moomyip,
#custom-moocpubars,
#language,
#pulseaudio,
#temperature,
#tray {
    padding-left: 8px;
    padding-right: 8px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#cpu {
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background-color: #e6e6e6;
	color: #532e1c;
    /* To compensate for the top border and still have vertical centering */
    padding-top: 2px;
	font-weight: bold;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    margin-left: 32px;
    margin-right: 32px;
    font-weight: bold;
}

#workspaces button {
    border: 0px solid transparent;
	border-radius: 12px;
    /* To compensate for the top border and still have vertical centering */
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 3px;
    color: #e6e6e6;
	background-color: #532e1c;
}

/*
#workspaces button:hover {
  background: #e6e6e6;
  color: red;
  box-shadow: inherit;
  text-shadow: inherit;
}
*/

#workspaces button.focused {
    border-color: #e6e6e6;
    color: #532e1c;
    background-color: #e6e6e6;
}

#workspaces button.urgent {
    border-color: #ff0000;
	background-color: #ff0000;
    color: #000000;
}

#language {
    background: #532e1c;
    color: #e6e6e6;
    font-weight: bold;
}
